*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.float-lef{
  float: left;
}

.container{
  width: 100%;
  min-width: 
}